
body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
    font-size: 12px;
}
.main-header {
    background-color: #EAC926;
}
div.top-header {
    padding: 5%;
}
h2 {
    font-size: 24px;
    color: rgb(6,6,6);
    text-align: center;
}
p {
    font-size: 16px;
    text-align: center;
    color: #03264C;
}
header div.logo {
    width: 50%;
    padding: 10px;
}
header nav {
    font-size: 12px;
}
header ul li {
    color: #03264C;
}
div.buscar {
    font-size: 16px;
    background-color: white;
    margin-top: 5px;
    margin-right: 50%;
    border: 1px solid #000000;
}
div.lupa {
    background-color: white;
    font-size: 16px;
    margin-top: 3px;
    margin-right: 95%;
    border: 1px solid #000000;
}
.burger-menu {
    color: white;
    align-items: center;  
    text-align: center;    
}
.burger-menu i {
    background-color: #1259c3;
    border-radius: 5px;
    padding: 15px;
    font-size: 20px;
    margin: 10px;
}
.banner {
    max-width: 100%;
    max-height: 100%;
}

/* Detalle articulos */
.main-article {
    line-height: 5px;
}
.precio {
    text-align: left;
    font-size: 18px;
    color: rgb(6,6,6);
}
.descuento {
    text-align: left;
    font-size: 16px;
    color: rgb(6,6,6);
}
.descripcion {
    font-size: 12px;
    text-align: left;
}

/* imagenes */
.img-producto {
    max-width: 100%;
    max-height: 100%;
    text-align: center;
}

/* iconos */
i.fas.fa-hand-holding-usd {
    font-size: 24px;
    color: #03264C;    
}
.fa-id-card {
    font-size: 12px;
    color: #03264C;
}
.fa-sign-in-alt {
    color: #03264C;
    font-size: 12px;
}
.fa-shopping-basket {
    color: #03264C;
    font-size: 12px;
}
.fas.fa-truck {
    color: #39b54a;
    text-align: left;
}
.fas.fa-credit-card {
    color: #1259c3;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
.fa-gift {
    color: #1259c3;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-user-shield {
    color: #1259c3;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*falta footer*/
.footer {
    background-color: white;   
    padding: 5%;
}
.pie-de-pagina {
    font-size: 18px;
    text-align: center;
    color: rgb(6,6,6);
    margin-top: 5%;
    
}
.informacion-adicional {
    font-size: 12px;
    color: rgba(6,6,6,0.5);
    text-align: center;
    margin-bottom: 15%;
    margin-top: 0%;
}
.copyright {
    font-size: 12px;
    text-align: left;
    color: rgba(6,6,6,0.5);

}